<h2>Challenges</h2>
<div class="carga-desafios">
    <material-menu [menu]="desafiosModel" [disabled]="desafios.isEmpty" [tabbable]="true"
        [buttonText]="cargando ? 'Loading challenges' : 'Choose Challenge'">
    </material-menu>
    <material-icon icon="menu" ariaLabel="guilds selection"></material-icon>
    <material-dropdown-select [buttonText]="filtrosDeGuilds" [selection]="guildsSelection" [options]="guilds">
    </material-dropdown-select>
    <material-progress id="carga" [indeterminate]="cargando" [max]="desafioElegido.memberCount"
        [secondaryProgress]="miembros.length + 30" [activeProgress]="miembros.length"></material-progress>
</div>
<div>
    <div id="members-actions" class="progreso-terminar">
        <label for="ganadoresNum">Amount of winners:</label>
        <input id="ganadoresNum" type="number" [(ngModel)]="cantGanadores" min="1" step="1"
            [max]="desafioElegido.memberCount">
        <label for="ganadoresNum">Secondary winner gems amount:</label>
        <input id="ganadoresNum" type="number" [(ngModel)]="gemasSecundarias" min="1" step="1"
            [max]="desafioElegido.memberCount">
        <material-button id="randomize" raised (trigger)="marcarGanadores($event)">Randomize {{cantGanadores}} winners
        </material-button>
        <material-button id="terminar" [disabled]="miembrosSelection.selectedValues.length < cantGanadores" raised
            (trigger)="empezarTerminar()">
            Terminate challenge...
        </material-button>
        <h3 *ngIf="requestsTerminarMaximos > 0">Terminated {{requestsTerminarTerminados}} out of
            {{requestsTerminarMaximos}} requests...</h3>
        <material-progress *ngIf="requestsTerminarMaximos > 0" [max]="requestsTerminarMaximos"
            [secondaryProgress]="requestsTerminarMandados" [activeProgress]="requestsTerminarTerminados">
        </material-progress>
    </div>
    <h3 id="vista-previa-sumario" [html-inseguro]="'Challenge: ' + desafioElegido.name | md2html"></h3>
    <section id="elementos">
        <material-list size="2" id="lista-miembros">
            <material-select-item (trigger)="elegirMiembro(i)" [selected]="miembrosSelection.isSelected(i)"
                *ngFor="let i=index; let miembro of miembros" [class.ganador]="miembro == ganador">
                {{i}}.
                <material-icon [size]="miembro == ganador ? 'x-large' : 'medium'"
                    [icon]="miembro == ganador ? 'person' : 'person_outline'"></material-icon>
                {{miembro.profile.name}}
            </material-select-item>
        </material-list>
        <div id="grupo-del-sumario">
            <material-input id="sumario" class="editor-mensaje" floatingLabel multiline label="The challenges summary"
                [(ngModel)]="sumario"></material-input>
            <div id="vista-previa-sumario" [html-inseguro]="sumario | md2html"></div>
        </div>
    </section>
</div>
<modal [(visible)]="mostrandoDialogoConfirmacion">
    <material-dialog headered class="dialogo-basico">
        <section class="dialog-header" header>
            <div id="gemas">
                <span id="las-gemas">{{usuario.gemas}} </span>
                <span id="resta-gemas" *ngIf="cantGanadores > 1 || clonar"> -
                    {{(cantGanadores - 1) * gemasSecundarias + (clonar ? nuevaCantidadGemasClonado : 0)}}</span>
            </div>
            <h1>Terminate challenge</h1>
        </section>

        <section class="dialog-options">
            <div class="opciones-row">
                <material-checkbox [(ngModel)]="clonar" label="Clone challenge"></material-checkbox>
                <material-input class="editor-nuevo-nombre" [disabled]="!clonar" type="text" floatingLabel
                    label="New challenge name" [(ngModel)]="nuevoNombreDelClonado">
                </material-input>
                <br />
                <label for="gemasClon">New amount of gems prize:</label>
                <input id="gemasClon" [disabled]="!clonar" type="number" [(ngModel)]="nuevaCantidadGemasClonado" min="0"
                    step="1" [max]="usuario.gemas - (cantGanadores - 1) * gemasSecundarias">
                <material-checkbox [(ngModel)]="unirse" [disabled]="!clonar" label="Join the cloned challenge">
                </material-checkbox>
            </div>
            <div class="opciones-row">
                <material-checkbox [(ngModel)]="notificar" label="Notify members"></material-checkbox>
                <material-input class="editor-mensaje" [disabled]="!notificar" floatingLabel multiline
                    label="The message to send" [(ngModel)]="mensajeAEnviar">
                </material-input>
            </div>
            <div class="opciones-row">
                <material-checkbox [(ngModel)]="agregarSumario" label="Summarize this challenge"></material-checkbox>
                <material-input class="editor-mensaje" [disabled]="!agregarSumario" floatingLabel multiline
                    label="The summary for this challenge" [(ngModel)]="sumarioCustomizado">
                </material-input>
            </div>
        </section>

        <section class="dialog-resume">
            <p *ngIf="notificar">
                The next message will be sent to {{desafioElegido.memberCount}} habiticans:<br />
                <div class="vista-previa-mensaje" [html-inseguro]="mensajeAEnviar | dataReplacer: reemplazos | md2html">
                </div>
            </p>
            <p *ngIf="agregarSumario">
                The next will be added to the summary:<br />
                <div class="vista-previa-mensaje"
                    [html-inseguro]="sumarioCustomizado | dataReplacer: reemplazos | md2html">
                </div>
            </p>
            <p>
                You are gonna terminate {{desafioElegido.name}} challenge.
            </p>
            <p *ngIf="cantGanadores == 1 && ganador != null">
                The winner will be {{ganador.profile.name}}.
            </p>
            <p *ngIf="cantGanadores > 1">
                The winners will be:<br />
                <ul>
                    <li *ngFor="let n of miembrosSelection.selectedValues">
                        <span class="gemas-premio">
                            {{miembros[n] == ganador ? desafioElegido.prize : gemasSecundarias}}
                        </span>
                        {{miembros[n].profile.name}}
                        <span *ngIf="miembros[n] == ganador" class="oficial">(official
                            winner)</span>
                    </li>
                </ul>
            </p>
        </section>

        <section class="dialog-footer" footer>
            <material-yes-no-buttons reverse yesHighlighted raised (no)="mostrandoDialogoConfirmacion = false"
                (yes)="terminarDesafio($event)" noText="Cancel" yesText="Terminate">
            </material-yes-no-buttons>
        </section>
    </material-dialog>
</modal>