@import "package:angular_components/css/material/material",
  "package:angular_components/material_progress/mixins",
  "package:angular_components/material_checkbox/mixins",
  "package:angular_components/material_yes_no_buttons/mixins",
  "package:angular_components/material_menu/mixins";

.nounderline {
  @include dropdown-menu-nounderline;
}

.menu-item-text-wrap {
  @include menu-item-text-wrap;
}

.progreso-terminar {
  @include material-progress-theme(
    $indeterminate-color: $mat-red-300,
    $active-color: $mat-red-800,
    $secondary-color: $mat-red-500
  );
}
.carga-desafios {
  @include material-progress-theme(
    $indeterminate-color: $mat-red-100,
    $active-color: $mat-red-500,
    $secondary-color: $mat-red-200
  );
}

@include button-background-color("#randomize", rgb(70, 0, 0));
@include button-color("#randomize", rgb(210, 0, 0));
@include button-background-color("#terminar", rgb(252, 70, 57));
@include button-color("#terminar", rgb(0, 0, 29));

.ganador {
  background: rgb(70, 0, 0) !important;
  color: rgb(190, 0, 0);
  font-size: large;
}

.oficial {
  font: large red;
}

#elementos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  #lista-miembros {
    max-width: 500px;
  }
  #grupo-del-sumario {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    & > * {
      width: 100%;
      min-height: 150px;
    }
  }
}

@mixin svg-gema($lado) {
  color: #24cc8f;
  display: inline-block;

  &:before {
    display: inline-block;
    content: " ";
    background-image: url("packages/habitica_challenge_terminator/assets/gema.svg");
    background-size: $lado $lado;
    height: $lado;
    width: $lado;
  }
}

.dialogo-basico {
  font-size: 14px;
  ul {
    list-style-type: none;
  }
  @include material-yes-button-color(rgb(70, 0, 0));
  @include material-yes-button-text-color(rgb(210, 0, 0));
  @include material-no-button-color(rgb(252, 70, 57));
  @include material-no-button-text-color(rgb(0, 0, 29));
  @include material-checkbox-color(#aa0000);
}

.opciones-row {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  > br {
    width: 100%;
    content: "";
  }
}

.editor-mensaje,
.editor-nuevo-nombre {
  flex-grow: 1;
}

.gemas-premio {
  @include svg-gema(15px);
}

#gemas {
  @include svg-gema(30px);

  float: right;
  span {
    font-size: xx-large;
  }
  // #las-gemas {
  // }
  #resta-gemas {
    color: #e05a0c;
  }
}

.vista-previa-mensaje {
  background-color: #eee;
  font-size: 15px;
}
