<h2>Login form</h2>
<form (ngSubmit)="iniciarSesion()" #usuarioForm="ngForm">
    <fieldset>
        <legend><span class="highlight">Enter your Habitica API details</span>
            (from <a href="https://habitica.com/user/settings/api">User Icon &gt; Settings &gt; API</a> on the
            website
            or Settings &gt; API on the Android app or Settings &gt; Account Details on the iOS app)
        </legend>
        <label for="userId"><span>User ID</span>
            <input [(ngModel)]="usuario.id" type="text" name="userId" id="userId" required>
        </label>
        <label for="apiToken"><span>API Token</span>
            <input [(ngModel)]="usuario.token" type="password" name="apiToken" id="apiToken" required>
        </label>
        <input type="submit" value="Fetch My Data">
    </fieldset>
</form>
<h2 style="color: red;">Keep this open, no data is saved after page reload or close.</h2>