<h1>Habitica Challenge Terminator</h1>
<login *ngIf="!usuario.confirmado" [usuario]="usuario"></login>
<!-- <login *ngIf="usuario == null || usuario.confirmado"></login> -->
<desafios *ngIf="usuario.confirmado" [usuario]="usuario"></desafios>