@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

// Hace que los emojis no sean tan grande
img[src^="https://s3.amazonaws.com/habitica-assets/cdn/emoji/"] {
  width: 27px;
  height: 27px;
}

/* Master Styles */
h1 {
  color: rgb(153, 51, 51);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
$blanqueamiento: rgba(255, 255, 255, 0.9);
body {
  margin: 2em;
  background-image: linear-gradient(to bottom, $blanqueamiento, $blanqueamiento),
    url("packages/habitica_challenge_terminator/assets/illbeback.jpg");
}
body,
input[text],
button {
  color: #300;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
label {
  padding-right: 0.5em;
}
/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited,
a:link {
  color: #8b6060;
}
nav a:hover {
  color: #e50303;
  background-color: rgb(221, 186, 186);
}
nav a.active {
  color: #e20303;
}

/* items class */
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #eee;
  margin: 0.5em;
  padding: 0.3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607d8b;
  background-color: #ddd;
  left: 0.1em;
}
.items li.selected {
  background-color: #cfd8dc;
  color: white;
}
.items li.selected:hover {
  background-color: #bbd8dc;
}
.items .text {
  position: relative;
  top: -3px;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607d8b;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
